


dataset_name: syncan
data_type: training
eval_type: robust

root_dir: 'none'
data_dir: 'none'


train_data_dir: ../../datasets/can-ids/syncan/ambient
test_data_dir: ../../datasets/can-ids/syncan/attacks
scaler_dir: ../scaler/


org_columns: ['Label', 'Time', 'ID', 'Signal1_of_ID', 'Signal2_of_ID', 'Signal3_of_ID', 'Signal4_of_ID']


features: [
  'Sig_1_of_ID_2', 'Sig_1_of_ID_7', 'Sig_2_of_ID_3', 'Sig_1_of_ID_10',
  'Sig_1_of_ID_9', 'Sig_1_of_ID_1', 'Sig_4_of_ID_10', 'Sig_2_of_ID_2',
  'Sig_3_of_ID_10', 'Sig_1_of_ID_6', 'Sig_2_of_ID_5', 'Sig_1_of_ID_4',
  'Sig_1_of_ID_5', 'Sig_3_of_ID_2', 'Sig_1_of_ID_8', 'Sig_2_of_ID_6',
  'Sig_2_of_ID_10', 'Sig_2_of_ID_7', 'Sig_2_of_ID_1', 'Sig_1_of_ID_3'
]

num_signals: 20
per_of_samples: 1.00


max_epoch: 20


time_steps: [50]
time_step: 50

sampling_periods: [1, 5, 10]
sampling_period: 1


window_step: -1
window_step_train: 50
window_step_valid: 50
window_step_test: 50






training_mode: adversarial


adversarial_training:
  enabled: true
  epsilon_schedule: [0.005, 0.01, 0.02]
  adversarial_ratio: 0.3
  attack_types: ['fgsm', 'pgd', 'automotive']
  pgd_iterations: 20


domain_adaptation:
  enabled: false
  num_domains: 2
  gradient_reversal_alpha: 1.0
  domain_loss_weight: 0.5


uncertainty:
  enabled: true
  method: 'monte_carlo'
  num_samples: 30
  confidence_threshold: 0.8


compression:
  enabled: true
  quantization:
    enabled: true
    type: 'int8'
  pruning:
    enabled: true
    target_sparsity: 0.5
  knowledge_distillation:
    enabled: false
    temperature: 3.0
    alpha: 0.5






loss_factors: [95]
time_factors: [99]
signal_factors: [90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 99.5, 99.99]

loss_factor: 95
time_factor: 99


attacks_dict: {
  'Flooding': 'test_flooding',
  'Suppress': 'test_suppress',
  'Plateau': 'test_plateau',
  'Continuous': 'test_continuous',
  'Playback': 'test_playback',
}





robustness_evaluation:
  enabled: true
  epsilon_range: [0.001, 0.005, 0.01, 0.02, 0.05]
  attack_types: ['fgsm', 'pgd', 'cw', 'automotive', 'temporal']
  certified_robustness: true





deployment:
  target_platform: 'embedded'
  max_inference_time_ms: 10
  max_model_size_mb: 5
  quantization_aware_training: false

